<header id = "about">
<h1>Kurukshetra</h1>
<p>
If the wonders of innovation, prowess of science and technology, dissent of learning by practice have baffled you, there are chances many of them be demystified soon at Kurukshetra 2013, proudly presented by the CEG Tech Forum. Kurukshetra with its prerogative UNESCO patronage incorporates a mélange of arduous events with the best brains across the globe battling to redefine the boundaries of innovation; surrealistic projects hauling off to the world of future; numero uno guest-lectures unraveling the austerity and spirit of engineering and state-of-art workshops percolating knowledge through “learning by practice”. With Kurukshetra round the corner, the apotheosis of creativity, imagination and innovation is all set on fire. Come! Play your part and Play it well! Fight for your magnum opus and Take away the ecstatic moments of Eureka which you will extol as an elixir of life! Aim only for the best, Success will prove elusive! What would happen if the best brains battle? ARMAGEDDON!!
</p>
</header>
