<div class = "tabbable tabs-left">
 <ul class = "nav nav-tabs">
   <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
   <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
 </ul>
 <div class ="tab-content"> 
 <div class="tab-pane active" id="tab1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce felis leo, condimentum vitae posuere sed, aliquam vitae dolor. In interdum sollicitudin dui ut adipiscing. Morbi in felis dolor, vitae feugiat neque. Quisque facilisis facilisis orci, eu facilisis turpis ultricies vitae. Fusce id orci nibh. Donec molestie posuere urna, nec pharetra nisl tincidunt vitae. Sed mauris nisl, vestibulum posuere vehicula et, facilisis at nibh. Aliquam in magna sed sem ornare dictum eget eget lacus. Aliquam iaculis nibh sit amet magna egestas venenatis. Phasellus neque dui, semper eget cursus eu, rhoncus ut velit.
</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod venenatis est at imperdiet. Nullam at justo eget metus pellentesque bibendum. Nunc malesuada sapien vitae tellus iaculis ac pharetra mauris lobortis. Duis quis metus in arcu fermentum commodo. In eu erat diam, vitae molestie erat. Aliquam erat volutpat. In facilisis arcu eget quam adipiscing rutrum. Pellentesque posuere dapibus metus, nec varius mi facilisis at. Nulla porta massa nec tellus tristique eget posuere elit tincidunt. Maecenas sodales accumsan neque eget pellentesque. Ut ut nibh sit amet dui tincidunt egestas. Quisque accumsan nisl sit amet massa iaculis egestas. Phasellus sit amet nunc vel nulla sagittis molestie ut dictum ante. Morbi suscipit diam vitae urna porttitor hendrerit ut id nibh.</p>
    </div>
 </div>
</div>
