
                <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Co Sponsors</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/groupon.png" alt="More about groupon">
              </div>
              
               <a target="_blank" href="http://www.groupon.co.in/" class="back face">

                 
                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Day &amp; Xceed Sponsors</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/lucas.png" alt="More about lucas">
              </div>
              
               <a target="_blank" href="http://www.lucas-tvs.com" class="back face">

                
                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Event Sponsors</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/ashokleyland.png" alt="More about ashokleyland">
              </div>
              
               <a target="_blank" href="http://www.ashokleyland.com/" class="back face">

             
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/michelin.png" alt="More about michelin">
              </div>
              
               <a target="_blank" href="http://www.michelin.in/Home" class="back face">

               
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/dell.png" alt="More about dell">
              </div>
              
               <a target="_blank" href="http://www.force10networks.com" class="back face">

              
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/visteon.png" alt="More about visteon">
              </div>
              
               <a target="_blank" href="http://www.visteon.com/index.html" class="back face">

                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/cts.png" alt="More about cts">
              </div>
              
               <a target="_blank" href="http://www.cts.com" class="back face">

              
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/globalscholar.png" alt="More about globalscholar">
              </div>
              
               <a target="_blank" href="http://www.globalscholar.com" class="back face">

                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/heymath.png" alt="More about heymath">
              </div>
              
               <a target="_blank" href="http://heymath.com/" class="back face">

               
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/visualBI.png" alt="More about visualBI">
              </div>
              
               <a target="_blank" href="http://visualbis.com/" class="back face">

            
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/ameex.png" alt="More about ameex">
              </div>
              
               <a target="_blank" href="http://ameexusa.com/" class="back face">

                
                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">BarKamp Sponsor</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/globalscholar.png" alt="More about globalscholar">
              </div>
              
               <a target="_blank" href="http://www.globalscholar.com" class="back face">

             
                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Webcast Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/linkstreet.png" alt="More about linkstreet">
              </div>
              
               <a target="_blank" href="http://linkstreet.in/" class="back face">

                
                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Workshop Sponsors</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/aero360.png" alt="More about aero360">
              </div>
              
               <a target="_blank" href="http://www.aero360ndf.com" class="back face">

               
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/ibm.png" alt="More about ibm">
              </div>
              
               <a target="_blank" href="http://www.ibm.com" class="back face">

                
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/oracle.png" alt="More about oracle">
              </div>
              
               <a target="_blank" href="http://www.oracle.com/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/l12.png" alt="More about l12">
              </div>
              
               <a target="_blank" href="http://www.li2.in/" class="back face">

             
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/ai2.png" alt="More about ai2">
              </div>
              
               <a target="_blank" href="http://www.aisquareonline.com/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/ml.png" alt="More about ml">
              </div>
              
               <a target="_blank" href="http://www.muzikloungeindia.com/" class="back face">

                
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/cts.png" alt="More about cts">
              </div>
              
               <a target="_blank" href="http://www.cts.com" class="back face">

               
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/enocean.png" alt="More about enocean">
              </div>
              
               <a target="_blank" href="http://www.enocean.com/" class="back face">

                 
                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/sirewall.png" alt="More about sirewall">
              </div>
              
               <a target="_blank" href="http://www.sirewall.com/" class="back face">

                
                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Logistics Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/dhl.png" alt="More about dhl">
              </div>
              
               <a target="_blank" href="http://www.dhl.com/" class="back face">

               
                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Knowledge Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/holland.png" alt="More about holland">
              </div>
              
               <a target="_blank" href="http://www.studyinholland.nl/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Entrepreneurship Workshop Partners</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/TheChennaiAngels.png" alt="More about TheChennaiAngels">
              </div>
              
               <a target="_blank" href="http://www.thechennaiangels.com/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/IllumeOrEvolve.png" alt="More about IllumeOrEvolve">
              </div>
              
               <a target="_blank" href="http://www.theillume.in/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/theIndusEntrepreneurs.png" alt="More about theIndusEntrepreneurs">
              </div>
              
               <a target="_blank" href="https://www.tie.org/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/ventureEast.png" alt="More about ventureEast">
              </div>
              
               <a target="_blank" href="http://www.ventureast.net/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/SmartKapital.png" alt="More about SmartKapital">
              </div>
              
               <a target="_blank" href="http://www.smartkapital.com/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Photography Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/Apertures&amp;Shutters.png" alt="More about Apertures&amp;Shutters">
              </div>
              
               <a target="_blank" href="https://www.facebook.com/vishwaphotography" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Travel Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/allindia.png" alt="More about allindia">
              </div>
              
               <a target="_blank" href="http://allindia.travel/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Transportation Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/ntl.png" alt="More about ntl">
              </div>
              
               <a target="_blank" href="http://www.ntltaxi.com/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">TV Media Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/thanthi.png" alt="More about thanthi">
              </div>
              
               <a target="_blank" href="http://www.thanthitv.com/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">English Radio Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/chennailive.png" alt="More about chennailive">
              </div>
              
               <a target="_blank" href="http://www.chennailive.fm/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Print Media Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/thehindu.png" alt="More about thehindu">
              </div>
              
               <a target="_blank" href="http://www.thehindu.com" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Student Opportunity Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/twenty19.png" alt="More about twenty19">
              </div>
              
               <a target="_blank" href="http://www.twenty19.com/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      <div class="box"><div class="sponsorListHolder"><h3 class="k-heading">Component Partner</h3>
          
           <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                <img src="img/frugal.png" alt="More about frugal">
              </div>
              
               <a target="_blank" href="http://www.frugal-labs.com/" class="back face">

                                
              </a>
              </div>
            </div>
            
          
        
          <div class="clear"></div>
        </div>
      </div>    
      
          </div>